@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #283618;
}
nav{
    
    position: relative;
}
nav ul {
    display: flex;
    font-size: 1.3rem;
    font-family: 'PT Serif', serif;
    list-style: none;
    justify-content: flex-end;
    margin-right: 20px;
    
}

nav ul li{
    color: white ;
    padding-left: 50px;
    
}

nav a{
    color: #fff !important;
    text-decoration: none;
    
    
}
nav a:hover{
    border-bottom: cyan 4px solid; 
    transition: width  2s; 
    border-width: 5px;
}



.container{
    color: white;
    margin-top: 50px;
}